:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-space-space-oneandhalfunits: 24px;
}

.button-84 {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: Helvetica, serif;
    font-size: 15px;
    height: 30px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-84:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.button-84:active {
    outline: 0;
}

.button-84:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .button-84 {
        height: 48px;
    }
}

.button {
    border: 2px solid black;
    color: var(--dl-color-gray-black);
    outline: black;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;
    font-weight: bold;
    font-family: Helvetica, serif;
    font-size: medium;
}

.input {
    color: white;
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.textarea {
    color: white;
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}

.list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
}

.list-item {
    display: list-item;
}

.teleport-show {
    display: flex !important;
}

.content {
    font-size: 16px;
    font-family: Helvetica, serif;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.heading {
    position: absolute;
    text-align: center;
    font-size: 32px;
    font-family: Helvetica, serif;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.heading-buttons {
    width: 80%;
}

.header-1 {
    color: var(--dl-color-gray-black);
    font-size: xxx-large;
    top: 70px;
    position: relative;
    font-weight: bold;
    font-family: Helvetica, serif;
}

.home-container {
    width: 100%;
    min-height: 110vh;
}

.home-text {
    font-size: xx-large;
    z-index: 100;
    margin: auto 0;
    display: flex;
    font-style: normal;
    text-align: center;
    font-weight: 300;
    border-color: #ffffff;
    border-width: 1px;
    text-transform: capitalize;
    max-width: 1200px;
}

.home-text1 {
    font-size: x-large;
    color: var(--dl-color-gray-black);
    top: 80px;
    position: relative;
    font-family: Helvetica, serif;
    font-weight: lighter;
}

.home-button {
    top: 125px;
    position: relative;
}

.home-get-priority-items {
    top: 125px;
    position: relative;
}

.home-button1 {
    top: 125px;
    position: relative;
}

.home-get-category {
    top: 125px;
    position: relative;

}

.home-separator {
    top: 45px;
    left: 0;
    width: 100%;
    height: 1px;
    position: absolute;
    align-self: flex-end;
    background-color: black;
}

@media (max-width: 767px) {
    .home-separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }

    .home-separator1 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}

@media (max-width: 479px) {
    .home-separator {
        margin-top: var(--dl-space-space-unit);
        margin-bottom: var(--dl-space-space-unit);
    }

    .home-separator1 {
        margin-top: var(--dl-space-space-unit);
        margin-bottom: var(--dl-space-space-unit);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: linear-gradient(to bottom left, whitesmoke 5%, lightslategrey 100%);
}

body {
    color: #272727;
    font-family: Helvetica, serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

.container {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    top: -1000px;
    position: relative;
    max-width: 2000px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    font-weight: bold;
    color: black;
    padding: .4rem;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 4px;
    display: block;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: white;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.button:hover {
    background-color: lightskyblue;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 4rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.label {
    font-size: large;
    font-weight: bold;
    color: black;
    font-family: helvetica, serif;
    letter-spacing:  1px;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0px 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: .875rem;
    background: lightskyblue;
}

.card_title {
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: Helvetica, serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: black;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.card_image {
    height: 90%;
}

.form-popup {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
    width: 350px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.01);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 0;
}

.open-form-popup {
    z-index: 101;
    visibility: visible;
    top: 420px;
    transform: translate(-50%, -50%) scale(1);
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.closeBtn {
    padding: 10px 60px;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    font-family: Helvetica, serif;
    border-radius: 30px;
    background: linear-gradient(to bottom left, lightskyblue 40%, #FFC39E 100%);
}

.form form input {
    width: 80%;
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 16px;
    margin: 18px auto;
    outline: none;
}

.form .text h1 {
    text-align: center;
    margin: 10px 0;
    font-family: Helvetica, serif;
}

.form form {
    display: block;
    margin: auto;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.form-container input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


.form-container .btn {
    background: linear-gradient(to bottom left, lightskyblue 40%, #FFC39E 100%);
    color: white;
    font-family: Helvetica, serif;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form {
    width: 400px;
    padding: 20px 50px;
}

.form .close {
    text-align: right;
    cursor: pointer;
}

.form .text h1 {
    text-align: center;
    margin: 10px 0;
}

.form form {
    display: block;
    margin: auto;
}

.page {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
