:root {
    --dl-color-gray-500: #595959;
    --dl-color-gray-700: #999999;
    --dl-color-gray-900: #D9D9D9;
    --dl-size-size-large: 144px;
    --dl-size-size-small: 48px;
    --dl-color-danger-300: #A22020;
    --dl-color-danger-500: #BF2626;
    --dl-color-danger-700: #E14747;
    --dl-color-gray-black: #000000;
    --dl-color-gray-white: #FFFFFF;
    --dl-size-size-medium: 96px;
    --dl-size-size-xlarge: 192px;
    --dl-size-size-xsmall: 16px;
    --dl-space-space-unit: 16px;
    --dl-color-primary-100: #003EB3;
    --dl-color-primary-300: #0074F0;
    --dl-color-primary-500: #14A9FF;
    --dl-color-primary-700: #85DCFF;
    --dl-color-success-300: #199033;
    --dl-color-success-500: #32A94C;
    --dl-color-success-700: #4CC366;
    --dl-size-size-xxlarge: 288px;
    --dl-size-size-maxwidth: 1400px;
    --dl-radius-radius-round: 50%;
    --dl-space-space-halfunit: 8px;
    --dl-space-space-sixunits: 96px;
    --dl-space-space-twounits: 32px;
    --dl-radius-radius-radius2: 2px;
    --dl-radius-radius-radius4: 4px;
    --dl-radius-radius-radius8: 8px;
    --dl-space-space-fiveunits: 80px;
    --dl-space-space-fourunits: 64px;
    --dl-space-space-threeunits: 48px;
    --dl-space-space-oneandhalfunits: 24px;
}
.button {
    color: var(--dl-color-gray-black);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}
.input {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem 1rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}
.textarea {
    color: var(--dl-color-gray-black);
    cursor: auto;
    padding: 0.5rem;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: 4px;
    background-color: var(--dl-color-gray-white);
}
.list {
    width: 100%;
    margin: 1em 0px 1em 0px;
    display: block;
    padding: 0px 0px 0px 1.5rem;
    list-style-type: none;
    list-style-position: outside;
}
.list-item {
    display: list-item;
}
.teleport-show {
    display: flex !important;
}
.content {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}
.heading {
    position: absolute;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
}

.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
}
.home-text {
    top: 50px;
    left: 583px;
    z-index: 100;
    position: absolute;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Merriweather;
    font-weight: 300;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    text-transform: capitalize;
}
.home-text1 {
    top: 120px;
    left: 567px;
    position: absolute;
    align-self: center;
    font-family: Merriweather, serif;
}

.home-button {
    top: 200px;
    left: 500px;
    height: auto;
    align-self: center;
    position: absolute;
    border-color: #ffffff;
}
.home-get-priority-items {
    top: 200px;
    left: 615px;
    position: absolute;
    border-color: #ffffff;
    padding-right: 10px;
}

.home-button1 {
    top: 200px;
    left: 730px;
    height: auto;
    position: absolute;
    align-self: center;
    transition: 0.3s;
    border-color: #ffffff;
}

.home-separator {
    top: 45px;
    left: 0px;
    width: 100%;
    height: 1px;
    position: absolute;
    align-self: flex-end;
    background-color: var(--dl-color-gray-900);
}
.home-separator1 {
    top: 283px;
    left: 0px;
    width: 100%;
    height: 1px;
    position: absolute;
    align-self: flex-end;
    background-color: var(--dl-color-gray-900);
}


@media(max-width: 767px) {
    .home-separator {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
    .home-separator1 {
        margin-top: var(--dl-space-space-oneandhalfunits);
        margin-bottom: var(--dl-space-space-oneandhalfunits);
    }
}
@media(max-width: 479px) {
    .home-separator {
        margin-top: var(--dl-space-space-unit);
        margin-bottom: var(--dl-space-space-unit);
    }
    .home-separator1 {
        margin-top: var(--dl-space-space-unit);
        margin-bottom: var(--dl-space-space-unit);
    }
}
.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:2000px;
}
.table {
    top: 400px;
    left: 583px;
    z-index: 100;
    position: absolute;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-family: Merriweather, serif;
    font-weight: 300;
    border-color: #ffffff;
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
    text-transform: capitalize;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #ecf9ff;
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
}

.container {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    top: -450px;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

.card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}
.made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
}

.form-popup {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
    width: 350px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.01);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-form-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.closeBtn {
    padding: 10px 60px;
    background: #fff;
    border: 4;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    color: #333;
}
.form form input {
    width: 80%;
    display: block;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 16px;
    margin: 18px auto;
    outline: none;
}
.form .text h1 {
    text-align: center;
    margin: 10px 0;
}
.form form {
    display: block;
    margin: auto;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}
.form-container input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.form-container .btn {
    background-color: #e98c14;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form {
    width: 400px;
    padding: 20px 50px;
}

.form .close {
    text-align: right;
    cursor: pointer;
}

.form .text h1 {
    text-align: center;
    margin: 10px 0;
}

.form form {
    display: block;
    margin: auto;
}
